[class|="button"]{
	color: @light;
	font-size: 17px;
	font-family: 'Lato';
	min-width: 200px;
	padding: 14px 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button{
	&-one{
		background: @blue;

		&:hover{
			background: @green;
		}

		&:active{
			background: @greyDark;
		}
	}
	&-two{
		background: @green;

		&:hover{
			background: @blue;
		}

		&:active{
			background: @greyDark;
		}
	}
}