footer{
	height: 226px;
	background: @dark;
	padding: 40px;

	@media(max-width: @small) and (orientation:portrait){
		height: 345px;
	}

	.content{
		clear: both;
		max-width: 1000px;
		margin: auto;
		color: @light;

		@media(max-width: @small) and (orientation:portrait){
			margin-bottom: 30px;
			display: inline-block;
		}		

		div{
			width: 50%;
			display: inline-block;
		}
		.left{
			float: left;
			.logo{
				background-image : url('../images/logo.png');
				background-repeat: no-repeat;
				width: 152px;
				height: 36px;
				margin-bottom: 20px;
			}
			@media(max-width: @medium) and (orientation:portrait){
				width: 45%;
			}
			@media(max-width: @small) and (orientation:portrait){
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
		}
		.right{
			float: right;
			text-align: right;
			.menus{
				width: 100%;				
				.menu{
					font-size: 16px;
					color: @light;
					display: inline-block;
					margin-left: 30px;
					cursor: pointer;
					text-decoration: none;

					&:hover{
						color: @blue;
					}
					@media(max-width: @medium) and (orientation:portrait){
						margin-left: 10px;
					}
				}
			}
			@media(max-width: @medium) and (orientation:portrait){
				width: 55%;
			}
			@media(max-width: @small) and (orientation:portrait){
				width: 100%;
				text-align: center;
			}
		}
		p{
			font-size: 14px;
			@media(max-width: @small) and (orientation:portrait){
				margin-bottom: 0px;
			}
		}
		.active{
			color: @grey !important;
		}
		a{
			color: @blue;
		}
	}
}