section{
	width: 100%;
	position: relative;
	display: block;

	&.main-one{
		height: 800px;
		background-image : url('../images/main-slider-background.png');
		background-size: cover;
		background-color: @greyLight;
		background-attachment: fixed;

		p{
			font-size: 22px;
		}
	}
	&.main-two{
		height: 218px;
		background: @light;
	}
	&.main-three{
		height: 500px;
		background: @light;
	}
	&.main-four{
		height: 800px;
		background: @greyDark;
		background-image: url('../images/screen.png');
		background-position: right bottom;
		background-repeat: no-repeat;
		//padding-left: 100px;

		.col-50{
			width: ~"calc(45% - 50px)";
			display: block;
		}
		h4, p{
			margin-bottom: 30px;
		}
	}
	&.main-five{
		height: 600px;
		background-image: url('../images/background-four.png');
		background-size: cover;
		background-attachment: fixed;

		p{
			font-size: 24px;
		}
	}	
}
.container{
	width: 100%;
	display: table;
	height: 100%;
	padding: 0px 20px;

	@media (min-width: @large){
		max-width: 1280px;
		margin: auto;
	}
}
.row{
	display: table-row;
	clear: both;
}
[class|="col"]{
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
}
.col-100{
	width: 100%;
}
.col-75{
	width: 75%;
}
.col-50{
	width: 50%;
}
.col-25{
	width: 25%;
}
