section{
	width: 100%;
	position: relative;
	display: block;

	&.one{
		height: 800px;		
		background-size: cover;
		background-color: @greyLight;
		background-attachment: fixed;

		p{
			font-size: 22px;
			@media (max-width: @xxsmall){
				font-size: 14px;
			}
		}
		@media (max-width: @xsmall){
			height: 100vh;
		}
	}
	&.main{
		background-image : url('../images/main-slider-background.png');
	}
	&.app{
		background-image : url('../images/app-background-one.png');
	}
	&.main-two{
		height: 218px;
		background: @light;
		
		span{
			@media (max-width: @small){
				display: none;
			}
		}
		@media (max-width: @xsmall){
			height: 25vh;
		}
	}
	&.main-three{
		height: 500px;
		background: @light;

		.col-50{
			@media (max-width: @small){
				width: 100%;
				background-color: @light;
			}
		}
		@media (max-width: @xsmall){
			height: 75vh;
		}
	}
	&.main-four{
		height: 800px;
		background: @greyDark;
		background-image: url('../images/screen.png');
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 50%;

		.col-50{
			width: ~"calc(50% - 50px)";
			display: block;
			@media (max-width: @xsmall){
				width: 100%;
			}
		}
		h4, p{
			margin-bottom: 30px;
			@media (max-width: @xsmall){
				margin-bottom: 10px;
			}
		}
		@media (max-width: @xsmall){
			height: 100vh;
			background-position: center 78vh;
			background-size: 75%;
		}
	}
	&.main-five{
		height: 600px;
		background-image: url('../images/background-four.png');
		background-size: cover;
		background-attachment: fixed;

		p{
			font-size: 24px;
		}
	}	
}
.container{
	width: 100%;
	display: table;
	height: 100%;
	padding: 0px 20px;

	@media (min-width: @large){
		max-width: 1280px;
		margin: auto;
	}
}
.row{
	display: table-row;
	clear: both;
	@media (max-width: @xsmall){
		display: block;
	}
}
[class|="col"]{
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
}
.col-100{
	width: 100%;
	display: table-cell;
}
.col-75{
	width: 75%;
}
.col-50{
	width: 50%;
}
.col-25{
	width: 25%;
}
