h1,h2,h3,h4,h5{
	font-family: 'Lato-Bold';
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-bottom: 20px;

	&.regular{
		font-family: 'Lato' !important;
	}
}
h1{	
	font-size: 72px;
	@media (max-width: @xsmall){
		font-size: 64px;
	}
	@media (max-width: @xxsmall){
		font-size: 48px;
	}
}
h2{	
	font-size: 64px;
	@media (max-width: @xsmall){
		font-size: 48px;
	}
	@media (max-width: @xxsmall){
		font-size: 36px;
	}
}
h3{	
	font-size: 48px;
	@media (max-width: @xsmall){
		font-size: 36px;
	}
	@media (max-width: @xxsmall){
		font-size: 24px;
	}
}
h4{	
	font-size: 36px;
	@media (max-width: @xsmall){
		font-size: 24px;
	}
	@media (max-width: @xxsmall){
		font-size: 18px;
	}
}
h5{
	font-size: 24px;
}
p{
	color: @light;
	font-size: 18px;
	margin: auto;
	margin-bottom: 30px;
	max-width: 800px;
	@media (max-width: @small){
		font-size: 14px;
	}
}
a{
	color: @blue !important;
	text-decoration: none;

	&:hover{
		color: @green !important;
	}
}
.text{
	&-blue{
		color: @blue !important;
	}
	&-green{
		color: @green !important;
	}
	&-orange{
		color: @orange !important;
	}
	&-greyDark{
		color: @greyDark !important;
	}
	&-grey{
		color: @grey !important;
	}
	&-greyLight{
		color: @greyLight !important;
	}
	&-greyLighter{
		color: @greyLighter !important;
	}
	&-left{
		text-align: left !important;
		margin: initial;
	}
	&-center{
		text-align: center !important;
		margin: initial;
	}
	&-right{
		text-align: right !important;
		margin: initial;
	}
}
