* {
  box-sizing: border-box;
}
::selection {
  background: #00aeef;
  color: #ffffff;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf');
}
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
  color: #ffffff;
}
@media (max-width: 920px) {
  img {
    width: 100%;
  }
}
nav {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}
nav.scrolled .background {
  display: block;
}
nav.scrolled .logo {
  background-image: url('../images/logo-dark.png');
}
nav.scrolled .toggle {
  color: #000000;
}
nav.scrolled .menus .menu {
  color: #000000;
}
nav div {
  display: inline-block;
}
nav .background {
  background: #ffffff;
  opacity: .7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: none;
}
nav .logo {
  background-image: url('../images/logo.png');
  width: 151px;
  height: 36px;
  margin-left: 25px;
  margin-top: 17px;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
nav .toggle {
  float: right;
  margin-right: 25px;
  margin-top: 17px;
  font-size: 30px;
  display: none;
  z-index: 11;
  position: relative;
}
@media (max-width: 767px) {
  nav .toggle {
    display: block;
  }
}
nav .menus {
  float: right;
  margin-right: 25px;
  position: relative;
  z-index: 11;
}
nav .menus .menu {
  font-size: 16px;
  color: #ffffff;
  padding: 25px 0px;
  margin-left: 25px;
  cursor: pointer;
}
nav .menus .menu:first-child {
  margin-left: 0px;
}
nav .menus .menu.active {
  color: #00aeef !important;
  border-bottom: 4px solid #00aeef;
}
@media (max-width: 767px) {
  nav .menus .menu.active {
    border-bottom: 1px solid #00aeef;
  }
}
nav .menus .menu:hover {
  color: #88c642;
}
@media (max-width: 767px) {
  nav .menus .menu {
    width: 100%;
    text-align: center;
    margin: 0px;
    border-bottom: solid 1px #ffffff;
  }
}
nav .menus .menu.close {
  display: none;
}
@media (max-width: 767px) {
  nav .menus .menu.close {
    display: block;
    border: none;
  }
}
@media (max-width: 767px) {
  nav .menus .menu:last-child {
    border: none;
  }
}
@media (max-width: 767px) {
  nav .menus.show-menu {
    display: block !important;
  }
}
@media (max-width: 767px) {
  nav .menus {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #88c642;
    opacity: 0.95;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    padding: 50px;
  }
}
footer {
  height: 226px;
  background: #000000;
  padding: 40px;
}
@media (max-width: 767px) {
  footer {
    height: 345px;
  }
}
footer .content {
  clear: both;
  max-width: 1000px;
  margin: auto;
  color: #ffffff;
}
@media (max-width: 767px) {
  footer .content {
    margin-bottom: 30px;
    display: inline-block;
  }
}
footer .content div {
  width: 50%;
  display: inline-block;
}
footer .content .left {
  float: left;
}
footer .content .left .logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  width: 152px;
  height: 36px;
  margin-bottom: 20px;
}
@media (max-width: 920px) {
  footer .content .left {
    width: 45%;
  }
}
@media (max-width: 767px) {
  footer .content .left {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
footer .content .right {
  float: right;
  text-align: right;
}
footer .content .right .menus {
  width: 100%;
}
footer .content .right .menus .menu {
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  text-decoration: none;
}
footer .content .right .menus .menu:hover {
  color: #00aeef;
}
@media (max-width: 920px) {
  footer .content .right .menus .menu {
    margin-left: 10px;
  }
}
@media (max-width: 920px) {
  footer .content .right {
    width: 55%;
  }
}
@media (max-width: 767px) {
  footer .content .right {
    width: 100%;
    text-align: center;
  }
}
footer .content p {
  font-size: 14px;
}
@media (max-width: 767px) {
  footer .content p {
    margin-bottom: 0px;
  }
}
footer .content .active {
  color: #8c969d !important;
}
footer .content a {
  color: #00aeef;
}
section {
  width: 100%;
  position: relative;
  display: block;
}
section.one {
  height: 800px;
  background-size: cover;
  background-color: #b7bec2;
  background-attachment: fixed;
}
section.one p {
  font-size: 22px;
}
@media (max-width: 320px) {
  section.one p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  section.one {
    height: 100vh;
  }
}
section.one.main {
  background-image: url('../images/main-slider-background.png');
}
section.one.app {
  background-image: url('../images/app-background-one.png');
}
section.two {
  background: #ffffff;
}
section.two.main {
  height: 218px;
}
@media (max-width: 767px) {
  section.two.main span {
    display: none;
  }
}
@media (max-width: 480px) {
  section.two.main {
    height: 25vh;
  }
}
section.two.app {
  min-height: 661px;
}
section.two.app .col-90 {
  margin: 0px 5% !important;
}
section.two.app .col-90 h3 {
  margin: 80px 50px 40px 50px;
}
@media (max-width: 767px) {
  section.two.app .col-90 h3 {
    margin: initial;
    margin-bottom: 20px;
  }
}
section.three {
  background: #ffffff;
}
@media (max-width: 767px) {
  section.three .col-50 {
    width: 100%;
    background-color: #ffffff;
  }
}
@media (max-width: 480px) {
  section.three {
    height: 75vh;
  }
}
section.three.main {
  height: 500px;
}
section.three.app {
  height: 768px;
}
@media (max-width: 767px) {
  section.three.app {
    height: 100vh;
  }
}
section.four.main {
  height: 800px;
  background: #47555e;
  background-image: url('../images/screen.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}
@media (min-width: 1920px) {
  section.four.main {
    background-size: 35%;
  }
}
section.four.main .col-50 {
  width: calc(50% - 50px);
  display: block;
}
@media (max-width: 480px) {
  section.four.main .col-50 {
    width: 100%;
  }
}
section.four.main h4,
section.four.main p {
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  section.four.main h4,
  section.four.main p {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  section.four.main {
    height: 100vh;
    background-position: center 78vh;
    background-size: 75%;
  }
}
section.four.app {
  height: 740px;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-attachment: fixed;
}
section.main-five {
  height: 600px;
  background-image: url('../images/background-four.png');
  background-size: cover;
  background-attachment: fixed;
}
section.main-five p {
  font-size: 24px;
}
.container {
  width: 100%;
  display: table;
  height: 100%;
  padding: 0px 20px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    margin: auto;
  }
}
.row {
  display: table-row;
  clear: both;
}
@media (max-width: 480px) {
  .row {
    display: block;
  }
}
[class|="col"] {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}
.col-100 {
  width: 100%;
  display: table-cell;
}
.col-90 {
  width: 90%;
}
.col-75 {
  width: 75%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
[class|="button"] {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Lato';
  min-width: 200px;
  padding: 14px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 480px) {
  [class|="button"] {
    min-width: 160px;
    padding: 10px 0px;
    font-size: 14px;
  }
}
.button-one {
  background: #00aeef;
}
.button-one:hover {
  background: #88c642;
}
.button-one:active {
  background: #47555e;
}
.button-two {
  background: #88c642;
}
.button-two:hover {
  background: #00aeef;
}
.button-two:active {
  background: #47555e;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato-Bold';
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}
h1.regular,
h2.regular,
h3.regular,
h4.regular,
h5.regular {
  font-family: 'Lato' !important;
}
h1 {
  font-size: 72px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 64px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 48px;
  }
}
h2 {
  font-size: 64px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 48px;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 36px;
  }
}
h3 {
  font-size: 48px;
}
@media (max-width: 480px) {
  h3 {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 36px;
}
@media (max-width: 480px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  h4 {
    font-size: 18px;
  }
}
p {
  color: #ffffff;
  font-size: 18px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 800px;
}
@media (max-width: 767px) {
  p {
    font-size: 14px;
  }
}
.text-orange {
  color: #ffa715 !important;
}
.text-greyDark {
  color: #47555e !important;
}
.text-grey {
  color: #8c969d !important;
}
.text-greyLight {
  color: #b7bec2 !important;
}
.text-greyLighter {
  color: #d8d8d8 !important;
}
.text-left {
  text-align: left !important;
  margin: initial;
}
.text-center {
  text-align: center !important;
  margin: initial;
}
.text-right {
  text-align: right !important;
  margin: initial;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-th-menu:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\ea96";
}
.apps {
  width: 100%;
}
.apps .app-item {
  width: 110px;
  height: auto;
  display: inline-table;
  margin-left: 40px;
  margin-bottom: 40px;
}
.apps .app-item .app-name {
  font-size: 18px;
  text-align: center;
  color: #47555e;
}
@media (max-width: 767px) {
  .apps .app-item .app-name {
    font-size: 16px;
  }
}
.apps .app-item .app-desc {
  font-size: 11px;
  text-align: center;
  color: #88c642;
}
.apps .app-item:nth-child(7n+1) {
  margin-left: 0px;
}
@media (max-width: 920px) {
  .apps .app-item {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .apps .app-item:nth-child(5n+1) {
    margin-left: 0px;
  }
  .apps .app-item:nth-child(7n+1) {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .apps .app-item {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .apps .app-item:nth-child(5n+1) {
    margin-left: 10px;
  }
  .apps .app-item:nth-child(7n+1) {
    margin-left: 10px;
  }
  .apps .app-item:nth-child(2n+1) {
    margin-left: 0px;
  }
}
.circle {
  width: 100%;
}
.circle .circle-arrow {
  width: 25px;
  display: inline-table;
  height: 550px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
}
@media (max-width: 920px) {
  .circle .circle-arrow {
    height: 380px;
  }
}
@media (max-width: 767px) {
  .circle .circle-arrow {
    display: none;
  }
}
.circle .circle-arrow.left {
  background-image: url('../images/arrow-left.png');
  margin-right: 65px;
}
.circle .circle-arrow.left:hover {
  background-image: url('../images/arrow-left-hover.png');
}
.circle .circle-arrow.right {
  background-image: url('../images/arrow-right.png');
  margin-left: 65px;
}
.circle .circle-arrow.right:hover {
  background-image: url('../images/arrow-right-hover.png');
}
.circle .circle-content {
  width: calc(100% - 190px);
  display: inline-table;
  position: relative;
}
@media (max-width: 767px) {
  .circle .circle-content {
    width: 100%;
    display: block;
  }
}
.circle .circle-content .circle-item {
  position: absolute;
  left: 100%;
  opacity: 0;
}
.circle .circle-content .circle-item.active {
  left: 5%;
  opacity: 1;
  transition-property: left;
  transition-duration: 1s;
  transition-timing: ease;
  transition-delay: 0;
}
@media (max-width: 767px) {
  .circle .circle-content .circle-item.active {
    left: 0%;
  }
}
.circle .circle-content .circle-item .circle-item-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.circle .circle-content .circle-item .circle-item-subtitle {
  font-size: 14px;
  margin-bottom: 25px;
}
.circle .circle-bullets {
  width: 100%;
  display: inline-table;
  margin: 25px auto;
  text-align: center;
}
@media (max-width: 767px) {
  .circle .circle-bullets {
    display: block;
  }
}
.circle .circle-bullets span {
  width: 8px;
  height: 8px;
  border: solid 1px #00aeef;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.circle .circle-bullets span.active {
  background: #00aeef;
}
