<section class="app one">
	<div class="container">
        <div class="col-100 text-center">
        	<h1>All the apps your business needs in one place</h1>
        	<!-- 
        	<p>Enjoy the free <span class="text-orange">30 day trial</span> for all new accounts</p>
        	<button ui-sref="login" class="button-two">Try Free Trial</button>
        	-->
        </div>
    </div>
</section>
<section class="app two">
	<div class="container">
		<div class="col-90 text-center">
			<h3 class="regular text-greyDark">Subscribe to the apps each team member requires</h3>
			<div class="apps">
				<div class="app-item" ng-repeat="a in apps">
					<img src="{{a.icon}}" class="app-icon"/>
					<div class="app-name">{{a.name}}</div>
					<div class="app-desc">{{a.desc ? a.desc : '&nbsp;'}}</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="app three">
	<div class="container">
		<div class="col-100 text-center">
			<circle mdl="circles"></circle>
		</div>
	</div>
</section>
<section class="app four">
	<div class="container">
		<div class="col-75 text-center">			
			<h4 class="regular text-greyDark">
				<span class="text-green">Invite team members </span>
				& the team members of the businesses you are connected to collaborate
			</h4>
			<button class="button-one">Only the creator or host needs to be subscribed</button>
		</div>
	</div>
</section>
<section class="app five">
	<div class="container">
		<div class="col-100 text-center">			
			<h3 class="regular text-greyDark">Easily manage user access & permissions</h3>
			<!-- <h5 class="regular text-greyDark">Partner Apps</h5>
			<p class="text-greyDark">Coming Soon…</p>
			<div class="partners">
				<img ng-repeat="p in partners" src="{{p}}" class="partner"/>
			</div> -->
		</div>
	</div>
</section>