<section class="main one">
	<div class="container">
        <div class="col-100 text-center">
        	<h1>Social Enterprise Network</h1>
        	<p>Hub3c is a purpose built platform that connects businesses. Easily register then invite other businesses to connect with your business on the platform. Start creating your own private business network today.</p>
        	<a href="#/app" class="button-one">View Apps</a>
        </div>
    </div>
</section>
<section class="main two">
	<div class="container">
        <div class="col-100 text-center">
            <h3 class="regular text-greyDark">One Username <span>-</span> One Password <span>-</span> One Platform</h3>
        </div>
    </div>
</section>
<section class="main three">
    <div class="container">
        <div class="col-50">
            <img src="images/logo-people.png"/>
        </div>
        <div class="col-50" >
        	<h4 class="text-greyDark text-left">Invite Team Members</h4>
        	<p class="text-left text-greyDark">
                Once connected on the hub you can invite your team members to join your business account. Easily give them access to the awesome, integrated apps in hub3c.
            </p>
        </div>
    </div>
</section>
<section class="main four">
    <div class="container">
        <div class="row">
            <div class="col-100 text-center">
                <h3 class="regular">Connect - Communicate - Collaborate</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-50 text-left">
                <h4  class="text-left">Integrated business grade Apps</h4>
                <p class="text-left">Your business & team members will have access to a full suite of Apps from the hub App Store.</p>
                <p class="text-left">All the apps are fully integrated and you can easily communicate & collaborate with your team members as well as the team members of the businesses you are connected with. How powerful is that!</p>
                <a class="button-one" href="#/app">View Apps</a>
            </div>
        </div>
    </div>
</section>
<section class="main five">
	<div class="container">
        <div class="col-100 text-center">
        	<h2>The business platform that promotes business</h1>
        	<p>Grow your business with us</p>
        	<a class="button-two" href="#/partner">Global Partner Program</a>
    	</div>
    </div>
</section>