<section class="main-one">
	<div class="container">
        <div class="col-100 text-center">
        	<h1>Social Enterprise Network</h1>
        	<p>
        		Hub3c is a purppose built platform that provides business’s with the ability to register on and invite to connect with other businesses creating your own private business networks.
        	</p>
        	<button class="button-one">View Apps</button>
        </div>
    </div>
</section>
<section class="main-two">
	<div class="container">
        <div class="col-100 text-center">
            <h3 class="regular text-greyDark">One Username <span>-</span> One Password <span>-</span> One Platform</h3>
        </div>
    </div>
</section>
<section class="main-three">
    <div class="container">
        <div class="col-50">
            <img src="images/logo-people.png"/>
        </div>
        <div class="col-50" >
        	<h4 class="text-greyDark text-left">Invite Team Members</h4>
        	<p class="text-left text-greyDark">
                Once connected to the hub - a business can invite team members to join in on thier business account.
            </p>
        </div>
    </div>
</section>
<section class="main-four">
    <div class="container">
        <div class="row">
            <div class="col-100 text-center">
                <h3 class="regular">Connect - Communicate - Collaborate</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-50 text-left">
                <h4  class="text-left">Integrated business grade Apps</h4>
                <p class="text-left">Your business & team members will have access to a full suite of Apps from the hub App Store. </p>
                <p class="text-left">All apps are fully integrated and you can easily communicate & collaborate with your fellow team members and the team members of the businesses you are connected with.</p>
                <button class="button-one">View Apps</button>
            </div>
        </div>
    </div>
</section>
<section class="main-five">
	<div class="container">
        <div class="col-100 text-center">
        	<h2>The business platform that promotes business</h1>
        	<p>Grow your business with us – </p>
        	<button class="button-two">Global Partner Program</button>
    	</div>
    </div>
</section>