<section class="partner one">
	<div class="container">
        <div class="col-100 text-center">
        	<h1>Partner with us</h1>
        	<p>The hub3c platform is a large eco-system with many different partners playing vital roles.</p>
        </div>
    </div>
</section>
<section class="partner two">
	<div class="container">
		<div class="col-33 text-center">
			<h4 class="regular text-greyDark text-left">App Partners</h4>
			<p class="text-greyDark text-left">Want to include your app in the hub3c platfporm? – hub3c provides the platform for easy distribution.</p>
			<p class="text-greyDark text-left">
				Please register your interest and a hub team member will be in touch or drop us a line at 
				<a href="#">partnerservices@hub3c.com</a></p>
			<button class="button-one" ui-sref="landing.register">Register</button>
		</div>
		<div class="col-33 text-center">
			<h4 class="regular text-greyDark text-left">Business Support Partners</h4>
			<p class="text-greyDark text-left">
				hub3c offers a directory of platform specialists to assist businesses in transitioning to the hub3c platform and setting up of team members and the use of hub apps.
			</p>
			<p class="text-greyDark text-left">
				To find out more on how to become a registered and accredited provider click the link below to register or drop us a line at 
				<a href="#">partnerservices@hub3c.com</a>
			</p>
			<button class="button-one" ui-sref="landing.register">Register</button>
		</div>
		<div class="col-33 text-center">
			<h4 class="regular text-greyDark text-left">Channel Partners</h4>
			<p class="text-greyDark text-left">
				Are you a business with a large SME customer base or business network? Hub3c offers several channel partner programs that provide excellent revenue and return on your investment!
			</p>
			<p class="text-greyDark text-left">
				Please register your interest and a hub team member will be in touch or drop us a line at 
				<a href="#">partnerservices@hub3c.com</a>
			</p>
			<button class="button-one" ui-sref="landing.register">Register</button>
		</div>
	</div>
</section>