<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Global Partner Program</title>
</head>
	<body>
		<div style="width: 700px;font-family: 'Arial'">
	  		<div style="background: #47555e;height: 70px;width: 600px;padding: 50px;text-align: center;">
	  			<img src="http://testweb.hub3c.com/images/logo.png" style="width: 240px;margin: 0px 180px;" />
	  		</div>
	  		<div style="background:#fff; width:600px; height:200px; padding:50px;">
	  			<div style="background:#fff; width:500px; height:250px; z-index: 2; position:relative; margin-top:-100px; padding: 50px;">
	  				<h3>New %registerAs% Registration</h3>
            <table style="font-size: 14px;">
              <tr>
                <td>Business Name</td>
                <td>:</td>
                <td>%business%</td>
              </tr>
              <tr>
                <td>Contact</td>
                <td>:</td>
                <td>%contact%</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>:</td>
                <td>%email%</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>:</td>
                <td>%country%</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>:</td>
                <td>%phone%</td>
              </tr>
            </table>
	  			</div>
	  		</div>
	  		<div style="background: #47555e;height: 50px;width: 600px;padding: 50px;text-align: center; color: #fff;">Copyright 2016. Hub3c</div>
		</div>
	</body>
</html>
