<nav scroll ng-class="{'scrolled' : boolChangeClass}">
    <div class="background">&nbsp;</div>
    <div class="logo" ui-sref="landing.home">&nbsp;</div>
    <div class="toggle" ng-click="changeMenu()">
        <i class="icon icon-th-menu"></i>
    </div>
    <div class="menus" ng-class="{'show-menu' : showMenuMobile}">
        <div class="menu close text-right" ng-click="changeMenu()"><b>x</b> Close</div>
        <div class="menu" ng-repeat="m in menus" ui-sref="{{m.state}}" ui-sref-active="active">{{m.text}}</div>
    </div>
</nav>
<div ui-view></div>
<footer>
    <div class="content">
        <div class="left">
            <div class="logo">&nbsp;</div>
            <p>
                Hub3c is a purppose built platform that provides business’s with the ability to register on and invite to connect with other businesses bla bla bla.
            </p>
        </div>
        <div class="right">
            <div class="menus">
                <a class="menu" ng-repeat="m in menus" ui-sref="{{m.state}}" ui-sref-active="active">{{m.text}}</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <p class="active">&copy;2016.Hub3c</p>
        </div>
        <div class="right">
            <p>Follow us <a>@hub3c</a> for news & updates</p>
        </div>
    </div>
</footer>  